*{
   margin : 0;
   padding : 0;
}
body {
   text-align : center;
}
h2 {
   text-align : left;
   font-family : Lucida Sans Unicode;
   font-size : 25px;
   font-weight : 450;
   padding-bottom : 20px;
}
#dropdownbox, #dropdownbox2 {
   height : 22px;
   font-family : arial;
   font-size : 17px;
   margin-bottom : 20px;
}
#txt {
   color : blue;
   font-family : Lucida Sans Unicode;
}
table {
   border-collapse : collapse;
   width : auto; 
   margin : auto;
   border-width : 10px;
   text-align : left;
   font-family : Lucida Sans Unicode;
}
td {
   padding : 8px;
   height : 30px;
   border : 2px solid #ddd;
}
#rowhead {
   text-align : center;
} 
.posdropdown {
   height : 22px;
   font-family : arial;
   font-size : 17px;
}